.buyButton {
  align-self: center;
  background-image: linear-gradient(to right, #A11B38, #AF1D3C, #C42145, #DC244B, #FF2957);
  background-size: 200%;
  border-radius: 25px;
  border: none;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 700;
  height: 35px;
  justify-content: center;
  outline: none;
  padding: 10px;
  text-transform: uppercase;
  transition: 250ms;
  width: 100px;
}

.buyButton:hover {
  background-position: right;
}