.patternSummaryContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* align-content: space-between; */
  justify-content: space-between;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  /* display:grid; */
  /* grid-template-rows: 75% auto ; */
  height:100%;
  padding: 5% 32px;
}

.titleAndButton{
  display:flex;
  justify-content: space-between;
  /* display: grid; */
  /* grid-template-columns: 80% auto 60px; */
  align-content: center;
}

.favoriteButton{
  display:flex;
  /* justify-content: flex-end; */
  /* align-content: center; */
  align-items: center;
  align-self: flex-start;
}

.patternName {
  color:black;
  display: flex;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 32px;
}

.userpfp {
  position:relative;
  /* border: 1px solid purple; */
  height: 40px;
  width: 40px;
  border-radius: 40px;
  top: 6px;
  margin-right: 5px;
  left:3px;
}
.authorName {
  color: black;
  border: transparent;
  display:flex;
  align-content: center;
  background-color: transparent;
  outline:none;
  margin: 0;
  padding: 0;
  margin-left: -4px;
  margin-right: 8px;
}

.authorLink {
  text-decoration: none;
  color:black;
}

.authorLink:hover {
  color:#DC244B;
  cursor:pointer;
}


.authorContainer{
  display:flex;
  align-content: center;
  margin: 14px 0;
}

.tagContainer {
  /* border: 1px solid brown; */
  height: 30px;
  width : 100%;
  display: flex;
  margin-top: 10px;
}

.craftTypeTag {
  color:black;
}

.skillLevelTag {
  margin-left: 5px;
  color:black
}



.descriptionInfo{
  color:black;
  font-size: 14px;
  max-height: 300px;
  overflow: auto;
  margin: 24px 0;
}

.descriptionParagraph{
  margin: 0;
}

.priceAndBuy {

}

.priceText {
  padding-bottom: 8px;
}

/* buy button stuff */
.buybutton{
  /* color:green; */
  /* background-color: #AF1D3C;
  outline:none;
  border: 1px solid #AF1D3C;
  height: 30px;
  border-radius: 9000px;
  color:white;
  width: 100px; */

  background-image: linear-gradient(to right, #A11B38, #AF1D3C, #C42145, #DC244B, #FF2957);
  background-size: 200%;
  transition: 250ms;
  padding: 10px;
  justify-content: center;
  font-weight: 700;
  border: none;
  text-transform: uppercase;
  border-radius: 25px;
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  width: 100px;
}

.buybutton:hover {
  background-position: right;
  box-shadow: 2px 2px 7px 1px #EBEBEB;
}