.patternPage {
  display: flex;
  flex-direction: column;
}


.imageGallery {
  color: red;
}


.patternDetailContainer {
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
  padding-top: 10px;
}

.patternDetailCard {
  /* border: 1px solid black; */
  display: flex;
  border-radius: 32px;
  box-shadow: 0px 1px 20px 0px slategray;
}

.imageGallery {
  height: 500px;
  width: 400px;
  /* border: 1px solid black; */
  /* border-right: 1px solid black; */
}

.patternSummary {
  /* border: 1px solid blue; */
  height: 500px;
  width: 400px;
  /* margin-left: 30px; */
}

.relatedPatterns{
  width: 100%;
  height: 200px;
  border: 1px solid black;
  margin-top: 100px;
}

.commentsSection{
  display: flex;
  justify-content: center;
  width:80%;
  height:1000px;
  border: 1px solid black;
  margin-top: 15px;
}

.commentsSectionHolder {
  display:flex;
  justify-content: center;
}

.firstImg {
  /* max-height: 100px; */
  /* max-width: 100px; */
  /* position:relative; */
  height:100%;
  width:100%;
  /* border: 1px solid red; */
  background-color: red;
  /* z-index: 9999; */
  /* object-fit:contain; */
  border-radius: 32px 0px 0px 32px;
}