.patternSummaryContainer {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-content: space-between; */
  /* justify-content: space-between; */
  display:grid;
  grid-template-rows: 5% 75% auto ;
  height:100%;
  padding: 0px 32px;
}

/* .header{
  height:10%;
}

.content{
  height: 65%;
}

.footer {
  height:25%;
} */

.favoritebutton {
  position: relative;
  /* display: flex; */
  /* justify-content: flex-end; */
  /* right: 0px; */
  left: calc(100% + 25px);

}

.patternName {
  /* color: blueviolet; */
  /* color:black; */
  color:#AF1D3C;
  display: flex;
  /* justify-content: center; */
  /* font-size: 50px; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 36px;
}

.userpfp {
  position:relative;
  /* border: 1px solid purple; */
  height: 40px;
  width: 40px;
  border-radius: 40px;
  top: -7px;
  margin-right: 5px;
}
.authorName {
  color: black;
  border: transparent;
  display:flex;
  background-color: transparent;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic Pro,メイリオ,Meiryo,ＭＳ Ｐゴシック,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  outline:none;
}

.authorName:hover {
  color:#DC244B;
  cursor:pointer;
}

.authorContainer{
  display:flex;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic Pro,メイリオ,Meiryo,ＭＳ Ｐゴシック,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.tagContainer {
  /* border: 1px solid brown; */
  height: 30px;
  width : 100%;
  display: flex;
}

.craftTypeTag {
  color:black;
}

.skillLevelTag {
  margin-left: 5px;
  color:black
}



.descriptionInfo{
  /* color:#50B99B; */
  color:black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  max-height: 55%;
  overflow: auto;
}

.descriptionParagraph{
  overflow:auto;
  max-height: 30%;
}

.priceAndBuy {
  height: 50px;
  width: 100%;
  /* border: 1px solid brown; */
  /* bottom: 10px; */
}

/* buy button stuff */
.buybutton{
  /* color:green; */
  background-color: #76C8B1;
  outline:none;
  border: 1px solid black;
  height: 30px;
}

.buybutton:hover {
  background-color: #73B7B8;
  outline:none;
}