.moreOptionsContainer {
  position: absolute;
  top: 87%;
  left: 79%;
}

.moreOptionsButton {
  outline: none;
  border: 1px solid white;
  border-radius: 50%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.moreOptionsButton:active {
  transform: scale(0.8);
  animation: fadein .5s;
}

.moreOptionsButton:hover {
  cursor: pointer;
}
