.moreOptionsContainer {
  position: absolute;
  top: 87%;
  left: 79%;
}

.moreOptionsButton {
  outline: none;
  border: 1px solid white;
  border-radius: 50%;
  background: white;
}

.modalContainer {
  background: white;
  position: fixed;
  z-index:10000;
}