.moreOptionsContainer {
  position: absolute;
  top: 87%;
  left: 79%;
}

.moreOptionsButton {
  outline: none;
  border: 1px solid white;
  border-radius: 50%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moreOptionsButton:hover {
  cursor: pointer;
}