.confirmation {
  position: absolute;
  border: none;
  bottom: 12px;
  left: 7px;
}

.container {
  display: flex;
  background-color: white;
  border-radius: 20px;
  border: none;
}

.text {
  padding-left: 0.71vw;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  border-radius: 20px;
  border: none;
}

.yes {
  color: #f3b816;
  border: none;
  background-color: white;
  padding: 0px 10px 0px 10px;
  cursor: pointer;
  outline: none;
}

.no {
  color: #dc244b;
  background-color: white;
  border-radius: 20px;
  border: none;
  background: none;
  padding: 0px 0.71vw 0px 0px;
  cursor: pointer;
  outline: none;
}

.bar {
  margin-top: 1vw;
}
