.app {
  display: flex;
  flex-direction: column;
  height: 89vh;
  outline: none;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 18.69vh;
  width: 134px;
  margin: 0 auto 25px auto;
}

.profilePhoto {
  height: 134px;
  width: 134px;
  background-color: #bbb;
  border-radius: 50%;
  margin-bottom: 1.4vw;
}

.header .userName {
  font-size: 28px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ,
    Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

.hide {
  visibility: hidden;
}

.patternsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  height: 60vh;
}

.topArrow {
  width: 0.6vw;
  height: 0.6vw;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  margin-bottom: 10px;
}

.arrowTop {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: translateY(25%);
  -webkit-transform: rotate(225deg);
}

.hide {
  border: solid transparent;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: translateY(25%);
  -webkit-transform: rotate(225deg);
}

.downArrow {
  position: relative;
  width: 0.6vw;
  height: 0.6vw;
  /* bottom: 2%; */
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  margin-top: 10px;
}

.arrowDown {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: translateY(25%);
  -webkit-transform: rotate(45deg);
}

.hideDownArrow {
  border: solid transparent;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: translateY(25%);
  -webkit-transform: rotate(45deg);
}

.modalContainer {
  background: white;
  border-radius: 16px;
  position: absolute;
  z-index: 10000;
}

.heartButton {
  position: relative;
  right: 44px;
  top: 3px;
  height: 32px;
  width: 32px;
  background: none;
  border: none;
  outline: none;
  font-size: 32px;
}

.heart {
  color: pink;
}

/* .heart:hover {
  color: pink;
} */

.outline {
  color: pink;
  /* fill: none; */
}
/* 
.outline:hover {
  fill: pink;
  cursor: pointer;
} */
