.suggestionItems {
  padding: 10px;
  color: #3B3B3B;
  font-weight: 500;
  text-transform: capitalize;
}

.suggestionItems:hover {
  background-color: #E0E0E0;
  border-radius: 10px;
}

.link {
  text-decoration: none !important;
}