.heartButton {
  position: relative;
  right: 44px;
  top: 3px;
  height: 32px;
  width: 32px;
  background: none;
  border: none;
  outline: none;
  font-size: 32px;
  color: pink;
}

.heartButton:hover {
  color: pink;
  cursor: pointer;
}
