.header {
  display: grid;
  position: relative;
  grid-template-columns: 5% 15% auto 10% 5%;
  background-color: white;
  opacity: 0.9;
  margin: 10px 0px;
}

.logoImage {
  position: relative;
  width: 45px;
  height: 45px;
  justify-self: start;
  align-self: center;
  border: none;
  outline: none;
  cursor: pointer;
}

.logoImage:hover,
.logoImage:focus {
  cursor: pointer;
  color: white;
  box-shadow: 2px 2px 7px 1px #d5d5d5;
}

.logoName {
  font-family: "montserrat", sans-serif;
  font-size: 25px;
  font-weight: 700;
  border: none;
  position: relative;
  outline: none;
  align-self: center;
  justify-self: start;
  color: #757575;
  background-color: white;
  border-radius: 50px;
}

.homeButton {
  font-family: "montserrat", sans-serif;
  font-size: 15px;
  font-weight: 700;
  border: none;
  position: relative;
  outline: none;
  height: 50px;
  width: 80%;
  align-self: center;
  cursor: pointer;
  color: #3B3B3B;
  background: none;
  border-radius: 50px;
  justify-self: center;
}

.homeButton:hover {
  outline: none;
  box-shadow: 2px 2px 7px 3px #EBEBEB;
  background: #E0E0E0;
  color: #3B3B3B;
}

.homeButton:target,
.homeButton:focus {
  background-color: black;
  color: #E0E0E0;
}

.profileIcon:hover,
.profileIcon:focus {
  outline: none;
  cursor: pointer;
  color: white;
}

.profileIconWrapper {
  display: grid;
  padding: 5px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-content: center;
  border: solid 10px white;
  margin: 0px 20px;
}

.profileIconWrapper:hover,
.profileIconWrapper:focus {
  background-color: #EBEBEB;
  border: solid 10px #EBEBEB;
  color: white;
  box-shadow: 2px 2px 7px 1px #EBEBEB;
}